<div class="common-header home-topMenu">
    <div class="left">ai购物超市积分兑换商城</div>
    <div class="right">
        <div class="right-item">
            <img src="__STATIC__/icon/back.png" alt="">
            <div class="text">退出登录</div>
        </div>
        <div class="right-item">
            <img src="__STATIC__/icon/home.png" alt="">
            <div class="text">首页</div>
        </div>
        <!-- <div class="right-item">
            <img src="__STATIC__/icon/shopping.png" alt="">
            <div class="text">购物车</div>
        </div> -->
    </div>
</div>
